.tenant-card .card-title {
    font-size: 18px;
}

.tenant-md {
}

.tenant-md .md-section {
    padding-left: 10px;
    font-size: 14px;
}

.tenant-md .md-section .label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.tenant-md .md-section .value {
    display: inline;
}

.tenant-md .md-section.description {
}
.tenant-md .md-section.description .value {
    display: block;
}

.tenant-connections .preamble {
    margin-bottom: 20px;
}

.tenant-connections .connect-section {
    margin-bottom: 20px;
    padding-left: 10px;
}

.tenant-connections .connect-section .label {
    font-size: 14px;
    font-weight: bold;
}
